body{
    font-size: 16px;
}
a {
    text-decoration: none;
}

.navbar{
    background-color: rgb(157, 156, 192);
    border: 1px solid rgb(132, 134, 165);
    
}

.navbar a{
    display: inline;
    margin-left: 15px;
} 

.block{
    width: 80%;
    margin: auto;
    margin-top: 150px;
    text-align: center;
}

.image_container{
    text-align: center;
    margin-top: 150px;
}
.image_label{
    margin-bottom: 50px;
}

.login_container {
    /* border:2px solid rgb(3, 3, 3); */
    /* border-radius: 5px; */
    margin-top: 200px;
    text-align: center;
    
}
.register_container{
    margin-top: 200px;
    text-align: center;
}
.register_container label{
    display: block;
}

.login_container input{
    margin-top: 10px;
}

.login_container .btn_login{
    margin-bottom: 10px;
}

.login_container label{
    display: block;
}

.page401_parent{
    text-align: center;
}

.profile_hello{
    text-align: center;
    margin-top: 300px;
}
.flash_container{
    text-align: center;
}

.flash_msgs{
    background-color: rgb(91, 180, 91);
}

.error{
    background-color: rgb(189, 102, 102);
}

.choose_container{
    margin-top: 100px;
}
.request_container{
    margin-top: 150px;
}

table{
    width: 100%;
}