{% extends 'base.html' %}

{% block content %}


<div class="login_container">
    <form class="form" action="/login" method="POST">
        <p><label>Введите имя: </label><input type="text" name="username" value="" required />
        <p><label>Введите пароль: </label><input type="text" name="password" value="" required />
        <p><input type="submit" class="btn_login" value="Отправить"/>
        <p><a class="url_link" href="{{url_for('register')}}"> Регистрация</a></p>
        <p><a class="url_link" href="{{ url_for('index')}}">Главная страница</a></p>
    </form>      
</div>


    
{% endblock %}
   