{% extends 'base.html' %}

{% block content %}
{{ super()}}
{% for msg in get_flashed_messages(True) %}
<div class="flash">{{msg}}</div>
{% endfor %}
<div class="login_parent">
    <div class="login_child">
        <form action="/register" method="POST">
            <p><label>Введите имя: </label><input type="text" name="username" value="" required />
            <p><label>Введите пароль: </label><input type="text" name="password1" value="" required />
            <p><label>Повторите пароль: </label><input type="text" name="password2" value="" required />
            <p><input type="submit" value="Регистрация"/>
            <p><a href="{{ url_for('index')}}">Вернуться на главную страницу</a></p>
        </form>      
    </div>
</div>

    
{% endblock %}
   