{% extends 'base.html' %}

{% block content %}


<div class="register_container">
    <form action="/register" method="POST">
        <p><label>Введите имя: </label><input type="text" name="username" value="" required />
        <p><label>Введите пароль: </label><input type="text" name="password1" value="" required />
        <p><label>Повторите пароль: </label><input type="text" name="password2" value="" required />
        <p><input type="submit" class="btn_login" value="Регистрация"/>
        <p><a href="{{ url_for('index')}}">Главная страница</a></p>
    </form>      
</div>


    
{% endblock %}
   